@model newdip.Models.ApplicationUser

@{
    ViewBag.Title = "Подробнее";
}

    <body class="container body-content">
        <div>
            <h4 style="text-align:center">Пользователь</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Имя пользоватея:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt>
                    Почта пользователя:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }) |
            @Html.ActionLink("К списку пользователей", "Index", "UserEditer")
        </p>
        </body>
