@{
    ViewBag.Title = "О системе";
}
<h1 style="text-align:center">Простыми словами о том, что такое ГИС</h1>
<br>
<style>
    .leftimg {
        float: left; /* Выравнивание по левому краю */
        margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
    }

    .rightimg {
        float: right; /* Выравнивание по правому краю  */
        margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
    }

    .otstup {
        /* Выравнивание по правому краю  */
        padding: 0 0 0 15px; /* Отступы вокруг картинки */
    }
</style>
<div class="row">
    <div style="font-size:20px">
        <img src="~/Models/44980.jpg" alt="альтернативный текст" height="200" class="rightimg"><p>
            Нудный текст про то что люди теряются
            Нудный текст про то что люди теряются
            Нудный текст про то что люди теряются
            Нудный текст про то что люди теряются
            Нудный текст про то что люди теряются Нудный текст про то что люди теряются
            Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются
            Нудный текст про то что люди теряются
            Нудный текст про то что люди теряются
            Нудный текст про то что люди теряются
            Нудный текст про то что люди теряются
            Нудный текст про то что люди теряются
            Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются
        </p><div class="otstup">
            Возможности системы
        </div>
        <ul>

            <li>Черта 1</li>
            <li>Черта 2</li>
            <li>Черта 3</li>
        </ul>


    </div>
    <br>
    <div style="font-size:20px">
        <img src="~/Models/44980.jpg" alt="альтернативный текст" height="200" class="leftimg">Нудный текст про то что люди теряются
        Нудный текст про то что люди теряются
        Нудный текст про то что люди теряются
        Нудный текст про то что люди теряются
        Нудный текст про то что люди теряются Нудный текст про то что люди теряются
        Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются
        Нудный текст про то что люди теряются
        Нудный текст про то что люди теряются
        Нудный текст про то что люди теряются
        <img src="~/Models/44980.jpg" alt="альтернативный текст" height="200" class="rightimg">Нудный текст про то что люди теряются
        Нудный текст про то что люди теряются
        Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются Нудный текст про то что люди теряются



    </div>
    <br>
    <br>

    <div class="col-md-4">
        <h2 style="font-size:18px">Описание первой фичи</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2 style="font-size:18px">Описание второй фичи</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2 style="font-size:18px">Описание третьей фичи</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <h2 style="font-size:22px">Предпоследняя фича</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-6">
        <h2 style="font-size:22px">Последняя фича</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>



