@{
    ViewBag.Title = "О системе";
}
<h1 style="text-align:center">Простыми словами о том, что такое ГИС</h1>
<br>
<style>
    .leftimg {
        float: left; /* Выравнивание по левому краю */
        margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
    }

    .rightimg {
        float: right; /* Выравнивание по правому краю  */
        margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
    }

    .otstup {
        /* Выравнивание по правому краю  */
        padding: 0 0 0 15px; /* Отступы вокруг картинки */
    }
</style>
<body class="container body-content">
    <div class="row">
        <div style="font-size:20px">
            <img src="~/Models/44980.jpg" alt="альтернативный текст" height="200" class="rightimg"><p>
    Геоинформационная система (географическая информационная система, ГИС) — система сбора, хранения, анализа и графической визуализации пространственных (географических) данных и связанной с ними информации о необходимых объектах.

    </p><p>Понятие геоинформационной системы также используется в более узком смысле — как инструмента (программного продукта), 
            позволяющего пользователям искать, анализировать и редактировать как цифровую карту местности, так и дополнительную информацию об объектах.
</p><div class="otstup">
                Разработанная система способна хранить такую информацию как
            </div>
    <ul>
        <li>План здания</li>
        <li>Информацию о помещениях, находящихся в этом здании</li>
        <li>Маршруты, позволяющие перемещаться по помещению</li>
        <li>Информацию о людях, работающих в этом здании</li>
    </ul>


        </div>
        <br>
        <div style="font-size:20px">
            <img src="~/Models/44980.jpg" alt="альтернативный текст" height="200" class="leftimg"><p>Случай, когда, заходя в незнакомое помещение,
            вы пытаетесь отыскать нужный кабинет или аудиторию. Случай, когда приходится изучать план эвакуации для того, чтобы найти проход к нужному месту.
            Сколько времени уйдет на то, чтобы найти нужный этаж, добраться до него, отыскать нужную аудиторию на этаже? Если же нужное место находится очень далеко,
            то дорогу до этого места придется спрашивать не один раз и время движения из точки А в точку Б увеличится многократно.</p>
            <img src="~/Models/44980.jpg" alt="альтернативный текст" height="200" class="rightimg">
            <p>
            Сказать по правде, теперь ориентирование в здании станет намного проще. Ведь решением описанной выше проблемы является геоинформационная система, 
            позволяющая создать и просмотреть информацию о зданиях, в которых присутствует необходимость в упрощении процесса ориентирования и информационной поддержке.

                </p>
        </div>
        <br>
        <br>

        <div class="col-md-4">
            <h2 style="font-size:18px">Простота и удобство</h2>
            <p>
                Простой и удобный интерфейс, позволяющий создавать планы для зданий различной сложности. Помимо
                этого, приложение поддерживает возможность редактирования информаци не только о зданиях, но и о помещениях этого здания, людей, которые там работают и т.д.
            </p>
        </div>
        <div class="col-md-4">
            <h2 style="font-size:18px">Доступность</h2>
            <p>Все планы находятся в шаговой доступности - Ваш телефон. Вся информация о здании быстро обновляется на Вашем устройстве, поэтому у вас подрукой будут всегда актуальные данные</p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h2 style="font-size:18px">Защищенность</h2>
            <p>
                Благодаря разделению на различне ученые записи, Вы можете быть спокойны за то, что данные которые вы ввели в приложения не будут искажены.
                Разработкой планов занимаются люди с определенным уровнем доступа
            </p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 style="font-size:22px">Клиенториентированность</h2>
            <p>Если вы являетесь владельцем здания, свяжитесь с администратором, который без проблем составит план Вашего здания</p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-6">
            <h2 style="font-size:22px">Расширяемость</h2>
            <p>Весь функционал обладает всеми нужными инструментами для реализации задуманного. Дальше - больше :)</p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
    </div>
    </body>


