@{
    ViewBag.Title = "Добро пожаловать";
}
<body class="container body-content">
    <div class="jumbotron">
        <h1 style="text-align:center">Геоинформационная Система</h1>
        <p class="lead">
            Геоинформационная система - разработка 2 студентов Курского Государственного университета, созданная для облегчения 
            ориентирования в сложой архитектуре современных зданий.

        </p>
        <p style="text-align:end"><a href='@Url.Action("About", "Home")' class="btn btn-primary btn-lg">Узнать больше о ГИС и ее возможностях &raquo;</a></p>
        @*@Html.ActionLink("Информация", "About", "Home")*@
    </div>

    <div class="row">
        <h1 style="text-align:center">
            Отличительные особенности системы
        </h1>
        <div class="col-md-4">
            <h2>Простота и элегантность</h2>
            <p>
               Простой и удобный интерфейс, позволяющий создавать планы для зданий различной сложности. Помимо 
                этого, приложение поддерживает возможность редактирования информаци не только о зданиях, но и о помещениях этого здания, людей, которые там работают и т.д.
            </p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h2>Доступность</h2>
            <p>Все планы находятся в шаговой доступности - Ваш телефон. Вся информация о здании быстро обновляется на Вашем устройстве, поэтому у вас подрукой будут всегда актуальные данные</p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h2>Защищенность</h2>
            <p>Благодаря разделению на различне ученые записи, Вы можете быть спокойны за то, что данные которые вы ввели в приложения не будут искажены.
            Разработкой планов занимаются люди с определенным уровнем доступа
            </p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
    </div>
</body>