@model newdip.Models.Floor

@{
    ViewBag.Title = "Удаление";
}

<body class="container body-content">
    <h3 style="text-align:center">Вы уверены что хотите удалить выбранный этаж?</h3>
    <div>
        <h4>Этаж</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                Уровень этажа
            </dt>

            <dd id="level">
                @Html.DisplayFor(model => model.Level)
            </dd>

            <dd id="id" >
                @ViewBag.BuID
            </dd>

        </dl>



            <div class="form-actions no-color">
                <input type="button" value="Удалить" class="btn btn-default" OnClick="del();"/> |
                @Html.ActionLink("К списку зданий", "Index","Buildings")
            </div>
    </div>
    </body>
<script language="javascript">
    function del() {
        $.ajax({
            url: '/Floors/DeleteConfirmed',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({

                id: document.getElementById("id").innerHTML,
                level: document.getElementById("level").innerHTML
                //     }),
                //     success: [function ( msg ) { // функции обратного вызова, которые вызываются если AJAX запрос выполнится успешно (если несколько функций, то необходимо помещать их в массив)
                //  window.location.href = "/Buildings/Index"; // добавляем текстовую информацию и данные возвращенные с сервера
                //}
            })
            ,
            success: function () {
                             window.location.href = "/Buildings/Index";  
                            }
        })
    }
</script>